@import url(http://fonts.googleapis.com/css?family=Roboto:100,400,300,500);

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    color: rgba(255,255,255,1);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}
#top {
    width: 100%;
    height: 100%;
    background-image: url("../img/galiardi_top_bg.jpg");
    background-position: center top;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
@supports ( background-size: cover ) {
    #top {
        background-size: cover;
    }
}
.filter {
    width: 100%;
    height: 100%;
    background-color: rgba(0,15,45,.6);
}
#top > .filter > .wrap {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    height: 100%;
    display: table;
    position: relative;
}
.wrap > .content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.wrap > .content > #text {
    width: 100%;
    height: 60%;
    font-weight: 100;
    padding-top: 50px;
    cursor: default;
}
#text h1 {
    font-size: 60px;
    text-transform: uppercase;
    margin: 0px 0px 20px;
    font-weight: 100;
    -webkit-animation: lspacing 2s ease;
    -moz-animation: lspacing 2s ease;
    animation: lspacing 2s ease;

}
#text p {
    max-width: 490px;
    width: 90%;
    margin: 0 auto;
    line-height: 18px;
}

.wrap > .content > #logo img {
    width: 144px;
}
.divider {
    background-image: url("../img/divider.png");
    background-position: center 25px;
    background-repeat: no-repeat;
    padding-top: 55px;
    text-transform: uppercase;
    font-weight: 300;
}
.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
    line-height: 12px;
    padding: 14px 50px;
    background-color: rgba(0,156,237,0);
    border: solid 1px rgba(0,156,237,1);
    color: rgba(255,255,255,1);
    transition: background-color 0.5s ease-in-out;
}
.btn:hover {
    background-color: rgba(0,156,237,1);
}
.close {
    display: block;
    position: absolute;
    right: 0;
    top: 20px;
    width: 20px;
    height: 20px;
    background-image: url("../img/close.png");
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: .7;
    transition: opacity 0.5s ease-in-out;
}
.close:hover {
    opacity: 1;
}
@keyframes lspacing {
    0% {
        letter-spacing: -33px;
    }
    100% {
        letter-spacing: 1px;
    }
}
@-webkit-keyframes lspacing {
    0% {
        letter-spacing: -33px;
    }
    100% {
        letter-spacing: 1px;
    }
}
@-moz-keyframes lspacing {
    0% {
        letter-spacing: -33px;
    }
    100% {
        letter-spacing: 1px;
    }
}
@media screen and (max-width: 1280px) {
    .close {
        right: 20px;
    }
}